*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}
body{
    font-size: 1.6rem;
}
header{
    width: 100vw;
    height: 8vh;
    background-color: dimgrey;
}
main{
    width: 100vw;
    height: 92vh;
    background-color: gray;
}
.navegador{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem;
}
.barra-nav{
    display: inline;
    padding-right: 2rem;
}
.barra-nav a:hover{
    color: black;
}
.barra-nav a:active{
    color:black;
}

.contenedor-principal{
    display: grid;
    grid-template-areas: 
    "barra"
    "principal";
}
.barra-principal{
    grid-area: barra;
    display: grid;
    grid-template-areas: 
    "logo nav";
    grid-template-columns: 20% 80%;
}
.logo{
    grid-area: logo;
}

.navegador{
    grid-area: nav;
}

.principal{
    grid-area: principal;
    display: grid;
    grid-template-areas: 
    "titulo"
    "contenido";
    grid-template-rows: 10% 90%;
}
.titulo{
    grid-area: titulo;
    display: flex;
    justify-content: center;
}
.contenido{
    grid-area: contenido;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-areas: 
    "destacadas"
    "temas";
    grid-template-rows: 45% 55%;
}
.destacadas{
    grid-area: destacadas;
}
.temas{
    grid-area: temas;
}
